<div class="flex mt-10 items-center justify-center">
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-xl">
      <thead>
        <tr class="bg-blue-gray-100 text-gray-700">
          <th class="py-3 px-4 text-left">Stock Name</th>
          <th class="py-3 px-4 text-left">Price</th>
          <th class="py-3 px-4 text-left">Quantity</th>
          <th class="py-3 px-4 text-left">Total</th>
          <th class="py-3 px-4 text-left">Action</th>
        </tr>
      </thead>
      <tbody class="text-blue-gray-900">
        @for (company of companies(); track $index) {
        <tr class="border-b border-blue-gray-200">
          <td class="py-3 px-4">{{ company.stockName }}</td>
          <td class="py-3 px-4">{{ company.price | currency }}</td>
          <td class="py-3 px-4">{{ company.quantity }}</td>
          <td class="py-3 px-4">{{ company.total | currency }}</td>
          <td class="py-3 px-4">
            <a href="#" class="font-medium text-blue-600 hover:text-blue-800"
              >Edit</a
            >
          </td>
        </tr>

        }
        <!-- Add more rows as needed -->
        <tr class="border-b border-blue-gray-200">
          <td class="py-3 px-4 font-medium">Total Wallet Value</td>
          <td class="py-3 px-4"></td>
          <td class="py-3 px-4"></td>
          <td class="py-3 px-4 font-medium">{{ totalPrice() | currency }}</td>
          <td class="py-3 px-4"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
