<div class="bg-white rounded-lg border p-4">
  <img
    [src]="headline.urlToImage"
    alt="Placeholder Image"
    class="w-full h-48 rounded-md object-cover"
  />
  <div class="px-1 py-4">
    <div class="font-bold text-xl mb-2">{{ headline.title }}</div>
    <p class="text-gray-700 text-base">
      {{ headline.description }}
    </p>
  </div>
  <div class="px-1 py-4">
    <a
      [href]="headline.url"
      target="_blank"
      class="text-blue-500 hover:underline"
      >Read More</a
    >
  </div>
</div>
