<div id="view" class="flex flex-row" x-data="{ sidenav: true }">
  <button
    class="p-2 border-2 bg-white rounded-md border-gray-200 shadow-lg text-gray-500 focus:bg-teal-500 focus:outline-none focus:text-white absolute top-0 left-0 sm:hidden"
  >
    <svg
      class="w-5 h-5 fill-current"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <div
    id="sidebar"
    class="bg-white h-screen md:block shadow-xl px-3 w-30 md:w-60 lg:w-60 overflow-x-hidden transition-transform duration-300 ease-in-out z-20"
    x-show="sidenav"
  >
    <div class="space-y-6 md:space-y-10 mt-10">
      <!-- <h1 class="font-bold text-4xl text-center md:hidden">
        D<span class="text-teal-600">.</span>
      </h1> -->
      <h1
        class="hidden md:block font-bold text-sm md:text-xl text-center text-purple-600"
      >
        Angular Update
      </h1>
      <div id="profile" class="space-y-3">
        <img
          src="https://avatars.githubusercontent.com/u/38866056?s=400&u=6a139d0dc8540f5215f96d76f4d41d252d8e21ac&v=4"
          alt="Avatar user"
          class="w-10 md:w-16 rounded-full mx-auto"
        />
        <div>
          <h2
            class="font-medium text-xs md:text-sm text-center text-purple-600"
          >
            Guido Perman
          </h2>
          <p class="text-xs text-gray-500 text-center">Software Engeneer</p>
          <p class="text-xs text-gray-500 text-center">Angular 17+</p>
        </div>
      </div>

      <div id="menu" class="flex flex-col space-y-2">
        @for (option of sidebarOptions; track option.title) {
        <a
          [routerLink]="option.route"
          class="text-sm font-medium text-gray-700 py-2 px-2 hover:bg-purple-600 hover:text-white hover:text-base rounded-md transition duration-150 ease-in-out"
        >
          <svg
            class="w-6 h-6 fill-current inline-block"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
            ></path>
          </svg>
          <span class="">{{ option.title }}</span>
        </a>
        }
      </div>
    </div>
  </div>
</div>
